/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: -webkit-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #fff;
  border-radius: 7px;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option:is(:hover, .active) img{
	/*THIS WEBSITE GENERATE THE CSS OF THE COLOR THAT YOU WANT TO ADD TO SVG IMG*/
	/*https://codepen.io/sosuke/pen/Pjoqqp*/
  filter: invert(63%) sepia(69%) saturate(3944%) hue-rotate(191deg) brightness(100%) contrast(94%);
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
/* ~: subsequent-sibling combinator: all label elements that are siblings of #fill-color:checked and appear after it. */
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
	background-image: linear-gradient(to right, red, blue);
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 51%;
  left: 51%;
  height: 13px;
  width: 13px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}

.drawing-board div {
  background-image: -webkit-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
  background-image: radial-gradient(top, circle cover, #3c6eb4 , #294172 80%);
}
.drawing-board p {
  text-align: center;
  user-select: none;
}

.drawing-board hr {
  color:black;
  background-color: black;
  width: 100%;
  height:2px
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

@media only screen and (max-width: 600px){
  .container {
      flex-direction: column;
      height: 100vh;
  }
  .tools-board {
    width: 100%;
  }
  #triangle span {
    visibility: hidden;
    position: relative;
  }
  #triangle span::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 10px;
    content: "Tri";
  }
  #rectangle span {
    visibility: hidden;
    position: relative;
  }
  #rectangle span::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 10px;
    content: " Rect";
  }
  ul.options {
    display: flex;
  }
  ul.options .tool {
    width: 20%;
  }
  .title {
    display: none;
  }
  .tools-board .row {
      margin-bottom: 5px;
  }
  .row .options {
      margin: 5px 0 0 5px;
  }
  .tools-board .row.buttons {
      margin-bottom: 5px;
      display: flex;
      gap: 10px;
  }
  .buttons button {
    width: 50%;
  }
  .drawing-board p {
    display: none;
  }
}


@media only screen and (max-width: 450px){
  .option :where(span, label) {
      display: none;
  }
}
